.normal {
    display: block;
    font-family: arial;
    font-size: 11;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 100pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    }
.block_2 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    }
.tabletext {
    display: table-row;
    font-family: arial;
    font-size: 11;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.bullet_ {
    display: table-cell;
    font-weight: bold;
    line-height: 1.2
    }

.bold {
    font-weight: bold
    }
.table {
    display: table;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 36pt;
    padding-right: 0;
    padding-top: 0
    }
.tablecell {
    display: table-cell;
    line-height: 1.2
    }
.pagebreak { 
    page-break-before: always 
    }
.tab {
    white-space: pre
    }
.redtext {
    color: #F00
    }

@page {
    margin-bottom: 35pt;
    margin-top: 0pt
    }

    .header1 {
        position: fixed;
        top: 0cm;
        left: 12cm;
        right: 0cm;
        height: 3cm;
    }

    /** Define the footer rules **/
    .footer1 {
        position: fixed; 
        bottom: 0cm; 
        left: 0cm; 
        right: 0cm;
        height: 3cm;
        background-color: rgb(230, 230, 230);
    }

    .header2 {
        position: fixed;
        top: 1cm;
        left: 0cm;
        right: 0cm;
        height: 1.5cm;
        background-color: rgb(230, 230, 230);
    }